#Titulo{
    margin-left: 20px;
}

.pRight{
    text-align:right;

}

.segments{
    border: 1px solid #01579b;
    border-radius:2px;
}

img {
    width:50%;
    height:750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img {
    width:50%;
    height:750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-panel1 {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  padding: 24px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
}

.textWhite{
    color: white;
}

.backgroundImg{
background: url(http://www.printawallpaper.com/upload/designs/thin_news_detail.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.background{
    background-color: white;
}
