#Titulo{
    margin-left: 20px;
}

.pRight{
    text-align:right;

}

.segments{
    border: 1px solid #01579b;
    border-radius:2px;
}

#img1 {
    width:auto;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%
}

#img {
    width:auto;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.card-panel1 {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  padding: 24px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
}

.textWhite{
    color: white;
}

.textGreen{
    color:blue;
}

.backgroundImg{
background: url(https://cdn.pixabay.com/photo/2017/05/30/03/58/fake-2355686_1280.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.background{
    background-color: white;
}

.backgroundImgA{
background: url(http://overfx.net/wp-content/uploads/sites/242/2017/03/cropped-888-1150x700.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.backgroundImgS{
background: url(https://cdn.pixabay.com/photo/2017/07/10/23/43/question-mark-2492009_1280.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.backgroundImgI{
background: url(https://cdn.pixabay.com/photo/2014/03/22/22/17/twitter-292994_1280.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.backgroundImgR{
background: url(https://cdn-images-1.medium.com/max/2000/1*SCbNGjbdW2GF_YASXb_vwA.jpeg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

h5{
    font-family: "Times New Roman";
    text-align: center;

}

li{
    font-family: "Times New Roman";
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.collapsible-body1 {
}
