#Titulo{
    margin-left: 20px;
}

.pRight{
    text-align:right;

}

.segments{
    border: 1px solid #01579b;
    border-radius:2px;
}

#img1 {
    width:50%;
    height:750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img {
    width:50%;
    height:350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.card-panel1 {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  padding: 24px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
}

.textWhite{
    color: white;
}

.backgroundImg{
background: url(https://point.zastone.ba/site/wp-content/uploads/2017/04/fake-news-donald.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.background{
    background-color: white;
}

.backgroundImgA{
background: url(http://overfx.net/wp-content/uploads/sites/242/2017/03/cropped-888-1150x700.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.backgroundImgS{
background: url(http://www.ramattechnologies.com/wp-content/uploads/2015/10/Solutions.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.backgroundImgI{
background: url(https://newevolutiondesigns.com/images/freebies/city-wallpaper-5.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.backgroundImgR{
background: url(https://cdn-images-1.medium.com/max/2000/1*SCbNGjbdW2GF_YASXb_vwA.jpeg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
